.weather-app {
  margin: 10em auto;
  margin-bottom: 0;
  max-width: 40em;
  max-height: 40em;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  position: relative;
  padding: 0;
  width: 100%;
}

.image {
  pointer-events: none;
  position: absolute;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: -1;
}

.input-and-location {
  display: flex;
  justify-content: left;
  padding: 1.2em;
}

.enter-city {
  max-width: 20em;
  margin-right: 0.2em;
}

#current-location-btn {
  margin-left: 0.2em;
}

.city-name-and-image-block {
  display: flex;
  padding-top: 1.2em;
  padding: 1.2em 1.2em;
}

.city-name {
  font-size: 2em;
}

.current-day {
  margin: 0;
}

.date {
  font-size: 1em;
}

.temp-c-f-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 3em;
  font-weight: 400;
  line-height: 1;
}

.city-date-icon {
  width: 50%;
  padding-left: 1.2em;
}

.main-icon-div {
  text-align: center;
}

.main-icon {
  font-size: 4em;
  text-align: center;
}

.weather-image {
  width: 50%;
  padding: 1.2em 0.5 1.2em 1.2em;
}

/* .forecast-for-the-week {
  display: flex;
  justify-content: center;
  padding: 1.2em;
} */

.forecast-for-the-week {
  padding: 1.2em;
  text-align: center;
  color: #000;
}

.weather-forecast-temp-min {
  opacity: 0.5;
}

.weather-forecast-temp {
  font-size: 0.9em;
  padding-right: 0.2;
}

.forecast-icon {
  width: 3.5em;
}

.open-source-link {
  text-decoration: none;
}

.footer {
  margin: 0 auto;
  max-width: 40em;
  max-height: 40em;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}
